.presentation-el{class: format_oldness(presentation.created_at)}
  .presentation
    = image_tag presentation.user.photo_url, class: :avatar if presentation.user
    %h3
      = presentation.title
      - if presentation.length && presentation.length < 6
        (lightning talk)
      - else
        (durée : #{presentation.length || 20} min)
    proposé par
    - if presentation.user
      = link_to presentation.name, presentation.user.link
    - else
      = presentation.name
  .difficulty
    Niveau requis:
    - (presentation.difficulty || 1).to_i.times do
      = image_tag('ruby.png')
  .clear