%h1 Meetup ParisRb : Appel à présentations

= simple_form_for @presentation do |f|
  %h2 Une idée de présentation ?
  = f.input :name, label: "Nom", placeholder: "John Doe"
  = f.input :title, label: "Titre de la présentation", placeholder: "VCR : enregistrer vos requêtes réseau et les rejouer"
  = f.input :email, placeholder: "hello@world.com"
  = f.input :difficulty, label: "Niveau", collection: [['facile', 1], ['intermédiaire', 2], ['avancé', 3]]
  = f.input :length, collection: [['5 min (lightning)', 5], ['20 min', 20]], label: "Durée"
  = f.button :submit, "Créer"
  .clear

.faq
  %details
    %summary
      Faq
    %dl
      %dt Je suis un newbie, et j'ai peeeeuuur de présenter
      %dd À Paris.rb on n'est pas là pour se moquer des novices. Nous serons TOUJOURS ravis d'accueillir les talks débutants comme confirmés
    %dl
      %dt Je voudrais faire une présentation de + de 20 minutes
      %dd Les présentations sont cronometrées, dans le but de ne pas trop fatiguer les rubyistes qui vous écoutent, et des études ont prouvé que les 2 meilleurs timings sont : 5 minutes et 20 minutes
    %dl
      %dt Je veux présenter ma société, ou mon produit
      %dd
        Nous sommes ici pour parler de ruby, de rails, et du monde des startups
        sur Paris. Pour faire la promotion d'une société, d'un produit, ou
        rechercher un profil, la coutume est d'aider la communauté en sponsorisant
        les évènements ruby. Pour plus de détails, n'hésitez pas à envoyer un email à
        <a href="mailto:thibaut@milesrock.com">Thibaut</a>

    %p
      Si vous avez d'autres questions, n'hésitez pas à envoyer un mail à <a href="mailto:thibaut@milesrock.com">Thibaut</a>

.presentations
  %h2 Talks proposés pour le prochain meetup:
  = render @presentations.select{|e| e.created_at > 2.month.ago}
  %details
    %summary Talks proposés il y a longtemps n'ayant jamais été présentés
    = render @presentations.select{|e| e.created_at <= 2.month.ago}
  %h2 Talks ayant eu lieu :
  - @old_presentations.each do |presentation|
    %p.presentation-el
      %span.presenter= presentation.name
      nous a parlé de
      #{presentation.video_url.present? ? link_to(presentation.title, presentation.video_url) : presentation.title} (le #{presentation.occured_at})
      #{presentation.slides_url.present? ? link_to("(slides)", presentation.slides_url) : ""}
  
    

