%h1 Meetup ParisRb : Appel à présentations
.presentations
  %h2 Talks ayant eu lieu :
  - @old_presentations.each do |presentation|
    .presentation-el
      = presentation.name
      nous a parlé de
      #{presentation.url.present? ? link_to(presentation.title, presentation.url) : presentation.title} (le #{presentation.occured_at})
  
  %h2 Talks proposés :
  - @presentations.each do |presentation|
    .presentation-el
      = presentation.name
      nous propose de parler de
      = presentation.title
    

= simple_form_for @presentation do |f|
  %h2 Une idée de présentation ?
  = f.input :name, placeholder: "John Doe"
  = f.input :title, placeholder: "VCR"
  = f.input :email, placeholder: "hello@world.com"
  = f.input :difficulty, :collection => [['easy', 1], ['middle', 2], ['advanced', 3]]
  = f.input :length, label: "Length (in minutes)"
  = f.button :submit, "Créer"
