!!! 5
%html
  %head
  %title AppelAPresentations
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  %meta{content: 'width=device-width', name:'viewport'}
  = csrf_meta_tags

  %body
    = github_banner
    .wrapper
      - if notice
        .flash.notice= notice
      = yield
