!!! 5
%html
  %head
  %title AppelAPresentations
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  <script type="text/javascript" src="http://use.typekit.com/xdw1wqu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  = csrf_meta_tags
  %body
    = github_banner
    .wrapper
      = notice
      = yield
