!!! 5
%html
  %head
  %title AppelAPresentations
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    = github_banner
    .wrapper
      = notice
      = yield
